@charset "UTF-8";

/* Estilos para computadores e telas grandes */

@media screen and (min-width: 768px) {
    div.res {
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }
}
